<div class="form-container">
  <!--<a routerLink="/login" id="goback">Go back</a>-->
  <button (click)="resetTool('login')" id="goback">Zurück</button><br>

  <h2>Anmelden</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
  <!--<span class="error" *ngIf="error">{{ error }}</span>-->

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type="text" placeholder="Email.." (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Passwort.." (ngModel)="password" name="password" class="txt" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Login</button>
    <!--<a routerLink="/login/signup" class="alc">Don't have an account?</a>-->
  </form>
  <button (click)="resetTool('signup')" id="signup">Kein Benutzer?</button><br>
</div>
