<form *ngIf="!loading" [formGroup]='form' (ngSubmit)='onSubmit(form.value)'>
  <mat-form-field>
    <mat-select [(value)]="nameDE" placeholder='Tree type' formControlName='name'>
      <mat-option *ngFor='let name of treeNames | sortAlphabetical' [value]='name'>
        {{ name }}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="nameDE">{{ mapDataService.treeNamesMapping[nameDE].nameLat }}</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder='Neighbourhood' formControlName='quartier'>
      <mat-option *ngFor='let quartier of quartiers | sortAlphabetical' [value]='quartier'>
        {{ quartier }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder='Planting year' formControlName='pflanzJahr'>
    <mat-error *ngIf="form.root.controls.pflanzJahr.errors">
      Please enter a valid year.
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color='accent' type='submit' [disabled]="!form.valid">Save</button>
  <button mat-raised-button color='accent' type='button' (click)='cancelEdit()'>Cancel</button>
  <button mat-raised-button color='warn' type='button' (click)='deleteTree()'>Delete tree</button>
</form>

<loading-page *ngIf="loading"></loading-page>