.mat-column-usrName {
  flex: 0 0 26% !important;
}
.mat-column-usrEmail {
  flex: 0 0 26% !important;
}
.mat-column-usrId {
  flex: 0 0 20% !important;
}
.mat-column-usrUser {
  flex: 0 0 12% !important;
}
.mat-column-usrSuper {
  flex: 0 0 12% !important;
}
.mat-column-usrAdmin {
  flex: 0 0 16% !important;
}
