<section *ngIf='appState.getInteraction() !== "none"' class='side-panel'  [@showSidePanel]="appState.sidePanelPosition">
  <div *ngIf='appState.getMode() === "editor"'>
    <div *ngIf='selectedTree' class='tree-detail'>

      <div *ngIf='!inEditMode' class='tree-read-only'>
        <mat-list>
          <mat-list-item>{{ selectedTree.attributes[attr.nameDE] }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Latin name: {{ selectedTree.attributes[attr.gattungLat] }} - {{ selectedTree.attributes[attr.artLat] }}</mat-list-item>
          <mat-list-item>Neighbouhood: {{ selectedTree.attributes[attr.quartier] }}</mat-list-item>
          <mat-list-item>Planting year: {{ selectedTree.attributes[attr.pflanzJahr] }}</mat-list-item>
        </mat-list>

        <button *ngIf="appState.userHasRole('user')" mat-mini-fab class='btn-edit' (click)='toggleEditMode(true)'>
          <mat-icon>mode_edit</mat-icon>
        </button>
      </div>

      <editor-panel *ngIf='inEditMode' [selectedTree]='selectedTree' (editing)='toggleEditMode($event)'></editor-panel>
    </div>

    <div *ngIf='appState.getInteraction() === "add"'>
      <add-tree-panel></add-tree-panel>
    </div>
  </div>

  <div *ngIf='appState.getMode() === "game"'>
    <div *ngIf='selectedTree' class='tree-detail'>
      <guess-panel [selectedTree]='selectedTree'></guess-panel>
    </div>
  </div>

</section>
