<div *ngIf='selectedTree' class='guess-panel mat-typography'>

  <h2>Was ist das für ein Baum?</h2>

  <span class="error" *ngIf="error">{{ error }}</span>

  <div class="guess-panel-game">
    <div class="guess-panel-guess">
      <button *ngFor="let name of selection" mat-raised-button
              (click)="selectTreeName(name, $event)" id="{{name}}"
              [ngClass]="buttonState[name]">
        {{name}}
      </button>
    </div>

      <div class="guess-panel-score">
        <div class="guess-points">
          <table class="guess-score-table">
            <tr>
              <td class="guess-score-table-first">Gewonnene Punkte:</td>
              <td class="guess-score-table-second" data-title="Guess">{{points}}</td>
              <td> </td>
            </tr>
          </table>
        </div>

        <div *ngIf="getScore('total')>0" class="guess-score">
          <div class="guess-score-title">
            Scores:
          </div>
          <table class="guess-score-table">
            <tr>
              <td class="guess-score-table-first">Dein Total heute:</td>
              <td class="guess-score-table-second" data-title="Today">{{getScore('day')}}</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="guess-score-table-first">Dein Total:</td>
              <td class="guess-score-table-second" data-title="Total">{{getScore('total')}}</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td class="guess-score-table-first">Höchster Punktestand:</td>
              <td class="guess-score-table-second" data-title="Best">{{getScore('best')}}</td>
              <td>&nbsp;</td>
            </tr>
          </table>
        </div>

      </div>
  </div>
</div>

<div *ngIf='!selectedTree'>
  Klicke auf einen Baum und rate den Typ.
</div>
