@import '../../tree-theme';

.guess-panel {
  button {
    width: 100%;
    margin: 10px 0;
  }

  .correct {
    background-color: mat-color($tree-theme-accent);
    pointer-events: none;
  }

  .false {
    background-color: mat-color($tree-theme-warn);
    pointer-events: none;
  }
}
