@import '../../tree-theme';


.guess-panel {

  .guess-panel-game {
    display: flex;
    flex-direction: column;
  }

  .guess-panel-score {
    margin-top: 16px;
  }

  .guess-points{
    color: #BDBDBD;;
  }

  .guess-score-title{
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    padding: 12px 0 0 5px;
    margin-bottom: 6px;
    height: 1.8em;
  }

  .guess-score-table{
    padding-left: 5px;
    table-layout: fixed;
    width: 100%;
  }
  .guess-score-table-first{
    width: 40%;
  }

  .guess-score-table-second{
    text-align: right;
    width: 20%;
    padding-right: 5px;
  }

  button {
    width: 100%;
    margin: 10px 0;
  }

  .correct {
    background-color: mat-color($tree-theme-accent);
  }

  .false {
    background-color: mat-color($tree-theme-warn);
  }
}

@media (max-height: 900px) and (max-width: 840px) {
  .guess-panel {
    button {
      margin: 2px 0;
    }
  }
}


@media (max-width: 840px) {
  .guess-panel {
    .guess-panel-game {
      flex-direction: row;
    }
    .guess-panel-score {
      padding-left: 1em;
    }
  }
}

@media (max-width: 520px) {
  .guess-panel {

    h2 {
      margin-bottom: 8px;
    }
    .guess-score-title {
      display: none;
    }
    td:nth-child(odd) {
      display: none;
    }
    td {
      display: block;

      &:before {
        content: attr(data-title);
        display: block;
        font-size: 80%;
      }
    }

    .guess-panel-score {
      margin-top: 6px;
      padding-left: 0;
    }
    .guess-panel-guess {
      min-width: 75%;
    }
    .guess-score-table-second {
      width: 100%;
      text-align: center;
    }
  }
}
