<div *ngIf='selectedTree' class='guess-panel'>

  <h1>Was ist das für einen Baumart?</h1>

  <span class="error" *ngIf="error">{{error}}</span>

  <button *ngFor="let name of selection" mat-raised-button
    (click)="selectTreeName(name, $event)" id="{{name}}"
    [ngClass]="buttonState[name]">
    {{name}}
  </button>

  <span class="score"><br>Punkte: {{points}}</span>

</div>

<div *ngIf="getScore('total')>0" class="guess-panel">
  <h4>Aktuelle Punktzahl:</h4>
  <span class="score">Heute: {{dayScore}}<br></span>
  <span *ngIf="getScore('total')!==getScore('day')" class="score">Total: {{getScore('total')}}<br></span>
  <span *ngIf="getScore('best')>0" class="score">Highscore: {{getScore('best')}}<br></span>
</div>

<div *ngIf='!selectedTree'>
  Klick auf einen Baum und rate seine Art.
</div>
