<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>FindATree</span>
    <span class="spacer"></span>
    <button type="button" (click)="toggleLogin()" class="nav_button">
      <span>{{loggedIn?'Logout':'Login'}}</span>
    </button>
    <!--<button *ngIf="loggedIn" (click)="addTool('mode')" class="nav_button"><span>Mode</span></button>-->
    <button *ngIf="loggedIn" (click)="selectMode()" class="nav_button">
      <span>Mode</span>
    </button>
    <div *ngIf="authService.userDetails && authService.userDetails.roles.admin===true">
      <a routerLink="/admin">Admin</a>
      <a routerLink="/map">Map</a>
    </div>
    <mat-icon class="icon" color='primary'>account_circle</mat-icon>
    <mat-icon class="icon" color='primary'>info</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<section>

  <router-outlet></router-outlet>

  <div #tools></div>
</section>