<!-- header -->
<mat-toolbar color="accent">
  <mat-toolbar-row>

    <!-- title -->
    <span>FindATree</span>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item type="button" (click)="toggleLogin()">
        <mat-icon>supervisor_account</mat-icon>
        <span>{{loggedIn?loggedInUser + ' abmelden':'Anmelden'}}</span>
      </button>
      <button mat-menu-item [disabled]="!userHasRole('user')" (click)="appState.setMode('game')" [routerLink]="['./map']">
        <mat-icon>videogame_asset</mat-icon>
        <span>Spielen</span>
      </button>
      <button mat-menu-item [disabled]="!userHasRole('user')" (click)="appState.setMode('editor')" [routerLink]="['./map']">
        <mat-icon>mode_edit</mat-icon>
        <span>Bäume bearbeiten</span>
      </button>
      <button mat-menu-item *ngIf="userHasRole('admin')" (click)="appState.setMode('dashboard')" [routerLink]="['./admin']">
        <mat-icon>dashboard</mat-icon>
        <span>Administrator dashboard</span>
      </button>
      <button mat-menu-item (click)="displayInfoPage()">
        <mat-icon>info</mat-icon>
        <span>Über diese App</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<section>
  <loading-page *ngIf="appState.showMap === 'hide'"></loading-page>
  <router-outlet></router-outlet>
  <div #tools></div>
</section>
