@import './tree-theme';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-menu {

  font-size: 0.7em;
  margin-right: 10px;

  a {
    color: white;
    text-decoration: none;
    padding: 2px 5px;
  }

  .selected, a:hover {
    background-color: white;
    color: black;
  }

  .icon {
    padding: 0 5px;
    cursor: pointer;
  }
}


.spacer {
  flex: 1 1 auto;
}

.nav_button{
  width: 6em;
}
