<div class="form-container">
  <img src="../../../assets/images/lock.png" id="lock" (click)="resetTool('hide')">

  <span class="error" *ngIf="error">{{ error }}</span>

  <button (click)="signInWithFacebook()" id="fb">Facebook</button><br>
  <button (click)="signInWithGoogle()" id="google">Google</button><br>
  <button (click)="signInWithTwitter()" id="twitter">Twitter</button><br>
  <button (click)="signInWithGithub()" id="github">Github</button><br>
  <button (click)="signInWithEmail()" id="email">Email</button><br>
  <button (click)="signUpNewAccount()" id="signup">Kein Benutzer? <strong>Erstelle einen hier</strong></button><br>

</div>
