<div class="form-container" id="toolbar">

  <div id="page" [@moveInLeft]="state">
    <h2>Hey {{ name.displayName }}!</h2>
  </div>

  <div *ngIf="show" class="child-container">
    <app-mode-selector *ngIf="subComponent==='mode-selector'"></app-mode-selector>
    <app-guess [mapClickData]="mapClickData" *ngIf="subComponent==='guess'"></app-guess>
    <app-add [mapClickData]="mapClickData" *ngIf="subComponent==='add'"></app-add>
  </div>

  <div>
    <button (click)="resetTool('hide')"class="darkgrey">Done</button><br>
  </div>
</div>
